@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

html, body {
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    margin: 0;
    padding: 0;
}


.pixel-grid {
    background-color: #ffd6e8;
    background-image:
        linear-gradient(#ff9ecf 1px, transparent 1px),
        linear-gradient(90deg, #ff9ecf 1px, transparent 1px);
    background-size: 24px 24px;
}

.pixelated {
    image-rendering: pixelated;
}

.pixel-button {
    background: #f382ba;
    border: 4px solid black;
    box-shadow: 4px 4px 0 black;
    padding: 12px 20px;
    cursor: pointer;
}

.pixel-button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 black;
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(-20vh);
        opacity: 0;
    }
}

.animate-float {
    animation: floatUp 6s linear infinite;
}

canvas {
    image-rendering: pixelated;
}
